* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  color: aliceblue;
  background-color: #12100e;
  margin: 10px;
}
.bgimg {
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 100%;
}
.top {
  height: auto;
  color: aliceblue;
  border: 2px aliceblue solid;
  font-family: comfortaa;
  background: transparent;
  padding: 30px;
  padding-left: 50px;
  padding-right: 75px;
  border-radius: 4px;
  backdrop-filter: blur(5px);
}
.top h1 {
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  display: inline-block;
  padding: none;
}
.top a {
  float: right;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aliceblue;
  vertical-align: middle;
  text-decoration: none;
  font-size: 17px;
}

.top a:hover {
  color: blanchedalmond;
  background-color: rgb(44, 54, 69);
}

.top a.active {
  color: orange;
}
.container-main {
  height: 90dvh;
  width: 100%;
  padding: 15px;
}
.container-main h1 {
  font-family: "Lilita One", sans-serif;
  color: aliceblue;
  font-size: 35px;
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-color: orange;
}
.container-main section {
  padding: 10px;
  font-size: 20px;
}
.container-main section input[type="number"] {
  background-color: rgb(8, 8, 2);
  border: 2px darkgreen solid;
  padding: 10px;
  color: aliceblue;
  font-size: 15px;
  margin-left: 10px;
}
.container-main button {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  background-color: black;
  color: aliceblue;
  border: 2px aliceblue solid;
  transition: 0.3s;
  margin-right: 50px;
}
button:hover {
  scale: 1.1;
}
table,
td {
  border: 2px rgb(106, 106, 107) solid;
}
td {
  padding: 15px;
}
table 
{
  max-width: 100% !important;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  word-break: break-all;
}
table input {
  background-color: rgb(8, 8, 2);
  border: 2px rgb(150, 150, 150) solid;
  padding: 10px;
  color: aliceblue;
  font-size: 15px;
  margin-left: 10px;
  width: 100%;
  boxSizing: border-box;
}
